/* Variables */
:root{
    --paragraph-font-size: 16px;
    --primary-font: 'Roboto', sans-serif;
    --default-font-weight: 400;
    --bold-font-weight: 700;

    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal: hsl(231, 7%, 60%);
    --white: #fff;
}

/* Reset Styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
  }

/* utlity classes */


.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.hidden{
    display: none;
}

.btn{
    font-size: 1rem;
    padding: .9rem;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    border-radius: .5rem;
    border: none;
}

.btn:hover{
    background: linear-gradient(90deg, );
}

/* Tag Styling */
body{
    height: 100vh;
    font-family: var(--primary-font);
    font-weight: var(--default-font-weight);
    font-size: var(--paragraph-font-size);
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
    font-weight: var(--bold-font-weight);
    margin-bottom: 10px;
}


/* Custom Classes */

.container{
    height: 100%;
    background-color: var(--white);
}


/* left bottom */

.column-top{
    margin-top: 0;
}

.column-right{
    display: none;
}

.hero-img{
    display: block;
    margin: 0 auto;
}

.column-bottom{
    gap: 1rem;
    align-items: flex-start;
    padding: 1.5rem;
}

.list-container {
    width: 100%;
    margin: 10px 0;
    gap: 1rem;
}

.list-item{
    gap: 5px;
    align-items: center;
}

.list-check-img{
    align-self: flex-start;
}


/* Form stylings */

form{
    width: 100%;
    gap: .5rem;
}

.form-header{
    justify-content: space-between;
}

.form-input {
    padding: .7rem;
    border-radius: .5rem;
    border: 1px solid var(--charcoal);
}



/* Error States */

.error-message{
    color: var(--tomato);
}
.error{
    background-color:hsl(4, 100%, 67%, .5);
    border: 1px solid var(--tomato);
}

.error::placeholder{
    color: var(--tomato)
}

/* Success Modal */

.modal{
    background-color: #fff;
    bottom: 0;
    position: absolute;
    height: 100%;
    padding: 2rem;
    transition: bottom 2000ms ease-in;
}

.modal.hidden{
    bottom: 1000px;
}



.modal div:nth-child(1){
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-grow: 2;
}

.modal div p{
    line-height: 1.6;
}

#dismiss{
    
    padding: 1.1rem;
    width: 100%;
    align-self: baseline;
}

@media (min-width: 800px)  {
    /* … */

    body{
        background-color: var(--dark-slate-grey);
    }
    .container{
        height: fit-content;
        padding: 1.5rem;
        background-color: #fff;
        border-radius: 1.5rem;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        }
    

    .column-top{
        display: none;
    }

    .column-right{
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .modal{
        gap: 1rem;
        bottom: auto;
        padding: 3rem;
        width: 30%;
        height: fit-content;
        border-radius: 4rem;
    }


  }